<html>
  <head>
    <title>Deployment Instructions</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/tomorrow-night.css">
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" type="text/css" href="/addtohomescreen.css">
    <script src="/addtohomescreen.min.js"></script>
    <!-- MOBILE ICONS
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/largetile.png" />
    -->

  </head>
  <body>
    <h1>Courses</h1>
    <!-- BEGIN EXERCISE -->
    <ul class='courses'>
      
      {{!-- iterate over all the courses --}}    
      {{#each courses as |course|}}
        <li class='course'>
          <a href='/course/{{course.attributes.slug}}'>
            <img src={{course.attributes.image-info.square2x.url}} alt="" class="course-image">
            <h3 class="course-title">{{course.attributes.title}}</h3>
          </a>
          <p>{{course.attributes.summary}}</p>
        </li>
      {{/each}}
    </ul>
    <!-- END EXERCISE -->
    <script src="/js/tester.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/tests.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
  </body>
</html>